.idea
venv/
.env
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
mlflow.db
mlruns/
artifacts/
data/
docs/
docs/Neo_Private/
docs/foma.srv.bc*/
docs/MLOpsКурсДЗ/
catboost_info/
prom.txt
.cursor/
*.png
.DS_Store
dist/
*.egg-info/
.coverage
htmlcov/
